name: Check
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js (latest version)
        uses: actions/setup-node@v4
        with:
          node-version: 'latest'
      - name: Install deps
        working-directory: ./server
        run: yarn
      - name: Linting
        working-directory: ./server
        run: yarn lint
